<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no{#, target-densitydpi=device-dpi#}" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		
		{#% stylesheets output='css/styles.css'
			"@blabla"
		%#}
		
		{#% endstylesheets %#}
	</head>
	
	<body>
	
		TEMPLATE !
	
		{% block content %}{% endblock %}
	
	</body>
</html>