<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no{#, target-densitydpi=device-dpi#}" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		
		{% stylesheets filter="sass"
			'@styles_css'
		%}
		
			<link rel="stylesheet" href="{{ asset_url }}" />
		
		{% endstylesheets %}
	</head>
	
	<body>
		<div class="banner-content">	
			<div class="sits-title">
				Cercle Royal Musical d'Aubange
			</div>
		
			<nav class="menu">
				<div class="sits-menu">
					{{ knp_menu_render('SItsSiteBundle:Builder:mainMenu') }}
				</div>
			</nav>
		</div>
		
		<div class="content-wrapper">
			{% block content %}{% endblock %}
		</div>
		
		{% javascripts
			'@jquery_js'
			'@sits_js' 
		%}
			
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	</body>
</html>