/* line 1, ../../../src/SIts/SiteBundle/Resources/assets/scss/_mixins.scss */
.blur-content, .menu, .sits-title {
  position: absolute;
}
/* line 4, ../../../src/SIts/SiteBundle/Resources/assets/scss/_mixins.scss */
.blur-content:before, .menu:before, .sits-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background: url(../img/index-image.jpg) -260px -200px;
  z-index: -1;
}
/* line 17, ../../../src/SIts/SiteBundle/Resources/assets/scss/_mixins.scss */
.blur-content:after, .menu:after, .sits-title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/* line 1, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
.menu {
  bottom: 50px;
  width: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 8, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
.menu .sits-menu {
  text-align: center;
}
/* line 10, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
.menu .sits-menu li {
  display: inline;
  list-style: none;
}
@media (max-width: 767px) {
  /* line 10, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
  .menu .sits-menu li {
    display: block;
  }
}
/* line 15, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
.menu .sits-menu .sits-main-menu {
  padding: 0;
}
/* line 20, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
.menu a {
  text-decoration: none;
  padding: 19px 0 19px 0;
  margin: 0 20px 0 20px;
  color: darkgrey;
}
@media (max-width: 767px) {
  /* line 20, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
  .menu a {
    padding: 10px 0 19px 0;
  }
}
/* line 26, ../../../src/SIts/SiteBundle/Resources/assets/scss/menu.scss */
.menu a:hover {
  color: darkred;
}

/* line 6, assetic_compassRbMzm9.scss */
html {
  margin: auto;
  padding: 0px;
  background-image: url(../img/index-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* line 16, assetic_compassRbMzm9.scss */
body {
  margin: 0px;
  font-family: 'Elliot', serif;
}

/* line 21, assetic_compassRbMzm9.scss */
.sits-title {
  margin-top: 100px;
  padding: 1em 0 1em 0;
  width: 100%;
  color: darkgrey;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}

/* line 34, assetic_compassRbMzm9.scss */
.menu li {
  margin-top: 20px;
}
/* line 37, assetic_compassRbMzm9.scss */
.menu a {
  color: darkgrey;
}
/* line 39, assetic_compassRbMzm9.scss */
.menu a:hover {
  border-top: 5px solid darkred;
}
