//@import "../../../../../../vendor/twbs/bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";
@import "menu";

html {
	margin: auto;
	padding: 0px;
	background-image: url(../img/index-image.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

body {
	margin: 0px;
	font-family: 'Elliot', serif;
}

.sits-title {
	@extend .blur-content;
	margin-top: 100px;
	padding: 1em 0 1em 0;
	width: 100%;
	color: $index-color;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
}

.menu {
	@extend .blur-content;
	li {
		margin-top: 20px;
	}
	a {
		color: $index-color;
		&:hover {
			border-top: 5px solid $menu-hover-color;
		}
	}
}