.menu {
	@extend .blur-content;
	bottom: 50px;
	width: 100%;
	font-size: 1.5em;
	text-transform: uppercase;
	
	.sits-menu {
		text-align: center;
		li {
			display: inline;
			@media (max-width: $small-device-width) { display: block; }
			list-style: none;
		}
		.sits-main-menu {
			padding: 0;
		}
	}
	
	a {
		text-decoration: none;
		padding: 19px 0 19px 0;
		margin: 0 20px 0 20px;
		@media (max-width: $small-device-width) { padding: 10px 0 19px 0; }
		color: $menu-a-color;
		&:hover {
			color: $menu-hover-color;
		}
	}
}