{% extends "SItsSiteBundle::template.html.twig" %}


{% block content %}
	<div class="alert alert-success">Page index</div>
	<div class="alert alert-danger">Reste plus qu'à réussir à utiliser SASS ! (regarder avant ce qu'est compass)</div>
{% endblock %}