{% extends "SItsSiteBundle::template.html.twig" %}

{% block content%}
	<div class="test-nesting">
		<div class="test">premier test</div>
		<div class="test-comment">COMMENTAIRES</div>
		<h1>Titre H1 </h1>
	</div>
{% endblock %}